primo-explore/custom/**/css/**
primo-explore/custom/**/html/**
primo-explore/custom/**/img/**
primo-explore/custom/**/js/**
primo-explore/tmp/

!primo-explore/custom/.gitignore
!primo-explore/tmp/.gitignore

.idea/
package-lock.json