#footer-static {
    background-color: #000;
    line-height: 1.375rem;
    font-size: .875rem;
    font-weight: 400;
    color: #757575;
    font-family: Arial,Helvetica,sans-serif
}

#footer-static *,#footer-static:before,#footer-static:after {
    box-sizing: border-box;
    box-shadow: none;
}

#footer-static .footer .container {
    padding: 40px 45px 20px;
    max-width: 880px;
    margin: 0 auto
}

@media (min-width: 992px) {
    #footer-static .footer .container {
        padding:40px 15px 20px
    }
}

#footer-static .footer ul {
    list-style: none;
    padding: 0
}

#footer-static .footer h5 {
    font-size: 1.125rem;
    color: #fff;
    margin: 0 0 8px
}

#footer-static .footer__navigation {
    display: flex;
    flex-direction: column
}

@media (min-width: 768px) {
    #footer-static .footer__navigation {
        flex-direction:row;
        flex-wrap: wrap
    }
}

@media (min-width: 992px) {
    #footer-static .footer__navigation {
        flex-wrap:nowrap
    }
}

#footer-static .footer__navigation a {
    display: block;
    padding: 5px 0;
    font-size: .875rem;
    line-height: 1.375rem
}

#footer-static .footer__col {
    width: 100%;
    max-width: 100%
}

@media (min-width: 768px) {
    #footer-static .footer__col {
        max-width:50%
    }
}

@media (min-width: 992px) {
    #footer-static .footer__col {
        max-width:25%
    }
}

#footer-static .footer__legal {
    display: flex;
    flex-direction: column
}

@media (min-width: 768px) {
    #footer-static .footer__legal {
        flex-direction:row;
        justify-content: center
    }
}

#footer-static .footer__legal a {
    font-size: .875rem;
    line-height: 1.313rem;
    padding: 5px 0;
    display: block;
    text-align: left
}

@media (min-width: 768px) {
    #footer-static .footer__legal a {
        border-left:1px solid #495057;
        text-align: center;
        padding: 0 12px
    }
}

@media (min-width: 992px) {
    #footer-static .footer__legal a {
        padding:0 18px
    }
}

@media (min-width: 768px) {
    #footer-static .footer__legal li:first-of-type a {
        border:none
    }
}

#footer-static .footer__copyright {
    font-size: .875rem;
    line-height: 1.313rem;
    margin-top: 15px;
    text-align: left
}

@media (min-width: 768px) {
    #footer-static .footer__copyright {
        text-align:center
    }
}

#footer-static a {
    text-decoration: none;
    color: #999
}

#footer-static a:hover {
    text-decoration: underline;
}

